<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini.com</title>
</head>
<body>
    <center>
        <h1>URL successfully shortened</h1>
        <h3>URL: {{ object.url }}</h3>
        <h3>Shortened URL: <a href={{ object.get_short_url }}>{{ object.get_short_url }}</a></h3>
        <p>The URL has been clicked - {{ object.clicks }} times</p>
        <a href="/">Shorten another URL</a>
    </center>
</body>
</html>